<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teacher.mapper.TeacherClassMapper">
    
    <resultMap type="com.ruoyi.teacher.domain.TeacherClass" id="TeacherClassResult">
        <result property="teacherId"    column="teacher_id"    />
        <result property="college"    column="college"    />
        <result property="professional"    column="professional"    />
        <result property="grade"    column="grade"    />
        <result property="className"    column="class_name"    />
    </resultMap>

    <sql id="selectTeacherClassVo">
        select teacher_id, class_name ,college,professional,grade from teacher_class
    </sql>

    <select id="selectTeacherClassList" parameterType="com.ruoyi.teacher.domain.TeacherClass" resultMap="TeacherClassResult">
        <include refid="selectTeacherClassVo"/>
        <where>  
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="className != null "> and class_name = #{className}</if>
            <if test="college != null "> and college = #{college}</if>
            <if test="professional != null "> and professional = #{professional}</if>
            <if test="grade != null "> and grade = #{grade}</if>
        </where>
    </select>
    
    <select id="selectTeacherClassByTeacherId" parameterType="string" resultMap="TeacherClassResult">
        <include refid="selectTeacherClassVo"/>
        where teacher_id = #{teacherId}
    </select>
        
    <insert id="insertTeacherClass" parameterType="com.ruoyi.teacher.domain.TeacherClass">
        insert into teacher_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">teacher_id,</if>
            <if test="college != null">college,</if>
            <if test="professional != null">professional,</if>
            <if test="grade != null">grade,</if>
            <if test="className != null">class_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">#{teacherId},</if>
            <if test="college != null">#{college},</if>
            <if test="professional != null">#{professional},</if>
            <if test="grade != null">#{grade},</if>
            <if test="className != null">#{className},</if>
         </trim>
    </insert>

    <update id="updateTeacherClass" parameterType="com.ruoyi.teacher.domain.TeacherClass">
        update teacher_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="classId != null">class_id = #{classId},</if>
        </trim>
        where teacher_id = #{teacherId}
    </update>

    <delete id="deleteTeacherClassByTeacherId" parameterType="Long">
        delete from teacher_class where teacher_id = #{teacherId}
    </delete>

    <delete id="deleteTeacherClassByTeacherIds" parameterType="String">
        delete from teacher_class where teacher_id in 
        <foreach item="teacherId" collection="array" open="(" separator="," close=")">
            #{teacherId}
        </foreach>
    </delete>
</mapper>