<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.CtatlogueMapper">
    
    <resultMap type="Ctatlogue" id="CtatlogueResult">
        <result property="catalogueId"    column="catalogue_id"    />
        <result property="catalogueName"    column="catalogue_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <resultMap id="SecondaryCtatlogueResult" type="SecondaryCtatlogue">
        <result property="catalogueId"    column="catalogue_id"    />
        <result property="catalogueName"    column="catalogue_name"    />
    </resultMap>

    <sql id="selectCtatlogueVo">
        select catalogue_id, catalogue_name, parent_id , create_time from ctatlogue
    </sql>

    <select id="selectCtatlogueList" parameterType="Ctatlogue" resultMap="CtatlogueResult">
        <include refid="selectCtatlogueVo"/> order by catalogue_id

    </select>
    
    <select id="selectCtatlogueByCatalogueId" parameterType="Long" resultMap="CtatlogueResult">
        <include refid="selectCtatlogueVo"/>
        where catalogue_id = #{catalogueId}
    </select>


    <select id="selectSecondaryCtatlogueList" resultMap="SecondaryCtatlogueResult">
        <include refid="selectCtatlogueVo"/>
        where parent_id!="0"
    </select>

    <insert id="insertCtatlogue" parameterType="Ctatlogue" useGeneratedKeys="true" keyProperty="catalogueId">
        insert into ctatlogue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catalogueName != null and catalogueName != ''">catalogue_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catalogueName != null and catalogueName != ''">#{catalogueName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCtatlogue" parameterType="Ctatlogue">
        update ctatlogue
        <trim prefix="SET" suffixOverrides=",">
            <if test="catalogueName != null and catalogueName != ''">catalogue_name = #{catalogueName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where catalogue_id = #{catalogueId}
    </update>

    <delete id="deleteCtatlogueByCatalogueId" parameterType="Long">
        delete from ctatlogue where catalogue_id = #{catalogueId}
    </delete>

    <delete id="deleteCtatlogueByCatalogueIds" parameterType="String">
        delete from ctatlogue where catalogue_id in 
        <foreach item="catalogueId" collection="array" open="(" separator="," close=")">
            #{catalogueId}
        </foreach>
    </delete>
</mapper>