<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.FirstAnalysisMapper">
    
    <resultMap type="FirstAnalysis" id="FirstAnalysisResult">
        <result property="id"    column="id"    />
        <result property="postitionId"    column="postition_id"    />
        <result property="firstId"    column="first_id"    />
        <result property="firstName"    column="first_name"    />
        <result property="firstCompletionRate"    column="first_completion_rate"    />
        <result property="deadlineDate"    column="deadline_date"    />
    </resultMap>

    <sql id="selectFirstAnalysisVo">
        select id, postition_id, first_id, first_name, first_completion_rate,deadline_date from first_analysis
    </sql>

    <select id="selectFirstAnalysisList" parameterType="FirstAnalysis" resultMap="FirstAnalysisResult">
        <include refid="selectFirstAnalysisVo"/>
        <where>  
            <if test="firstId != null "> and first_id = #{firstId}</if>
            <if test="postitionId != null "> and postition_id = #{postitionId}</if>
            <if test="deadlineDate != null "> and deadline_date = #{deadlineDate}</if>
            <if test="firstName != null  and firstName != ''"> and first_name like concat('%', #{firstName}, '%')</if>
            <if test="firstCompletionRate != null  and firstCompletionRate != ''"> and first_completion_rate = #{firstCompletionRate}</if>
        </where>
    </select>
    
    <select id="selectFirstAnalysisById" parameterType="Long" resultMap="FirstAnalysisResult">
        <include refid="selectFirstAnalysisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFirstAnalysis" parameterType="string">
        INSERT into first_analysis (postition_id,first_id,first_name,first_completion_rate,deadline_date)
        SELECT
            a.postition_id,
            a.first_id,
            ctatlogue.catalogue_name AS first_name,
            a.secondary_completion_rate,
            DATE_SUB(CURDATE(), INTERVAL 1 DAY)  as deadline_date
        FROM
            (SELECT
                 #{positionId} AS postition_id,
                 first_id AS first_id,
                 ROUND(AVG(completion_status), 3) AS secondary_completion_rate
             FROM
                 skills_info
             WHERE
                 target_position_id = #{positionId}
             GROUP BY
                 first_id ) AS a
                LEFT JOIN ctatlogue ON ctatlogue.catalogue_id = a.first_id;
    </insert>

    <update id="updateFirstAnalysis" parameterType="FirstAnalysis">
        update first_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="postitionId != null">postition_id = #{postitionId},</if>
            <if test="firstId != null">first_id = #{firstId},</if>
            <if test="firstName != null and firstName != ''">first_name = #{firstName},</if>
            <if test="firstCompletionRate != null and firstCompletionRate != ''">first_completion_rate = #{firstCompletionRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFirstAnalysisById" parameterType="Long">
        delete from first_analysis where id = #{id}
    </delete>

    <delete id="deleteFirstAnalysisByIds" parameterType="String">
        delete from first_analysis where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>