<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.SkillsInfoMapper">
    
    <resultMap type="SkillsInfo" id="SkillsInfoResult">
        <result property="id"    column="id"    />
        <result property="lineNumber"    column="line_number"    />
        <result property="ctatlogueId"    column="ctatlogue_id"    />
        <result property="firstId"    column="first_id"    />
        <result property="skillsName"    column="skills_name"    />
        <result property="takeRole"    column="take_role"    />
        <result property="targetPositionId"    column="target_position_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="modificationsNumber"    column="modifications_number"    />
        <result property="evaluateState"    column="evaluate_state"    />
        <result property="completionStatus"    column="completion_status"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>



    <sql id="selectSkillsInfoVo">
        select id, line_number,first_id,ctatlogue_id, skills_name,take_role,modifications_number,complete_time,evaluate_state, completion_status,target_position_id, create_by, end_time, start_time, create_time from skills_info
    </sql>

    <select id="selectSkillsInfoList" parameterType="SkillsInfo" resultMap="SkillsInfoResult">
        <include refid="selectSkillsInfoVo"/>
        <where>  
            <if test="ctatlogueId != null "> and ctatlogue_id = #{ctatlogueId}</if>
            <if test="skillsName != null  and skillsName != ''"> and skills_name like concat('%', #{skillsName}, '%')</if>
            <if test="targetPositionId != null "> and target_position_id = #{targetPositionId}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="completionStatus != null "> and completion_status = #{completionStatus}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
        </where>
    </select>
    
    <select id="selectSkillsInfoById" parameterType="string" resultMap="SkillsInfoResult">
        <include refid="selectSkillsInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectSkillsInfoByPositionId" resultMap="SkillsInfoResult">
        <include refid="selectSkillsInfoVo"/>
        where target_position_id=#{id}
    </select>

    <select id="selectSkillsInfoByUnfinished" resultMap="SkillsInfoResult" parameterType="SkillsInfo">
        <include refid="selectSkillsInfoVo"/>
        where target_position_id=#{id} and completion_status=#{completionStatus}
    </select>

    <select id="selectSkillsInfoBycreateBy" resultType="com.ruoyi.student.domain.SkillsInfo">
        <include refid="selectSkillsInfoVo"/>
        where create_by=#{sNum} and
    </select>

    <insert id="insertSkillsInfo" parameterType="SkillsInfo" >
        insert into skills_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="lineNumber != null">line_number,</if>
            <if test="ctatlogueId != null">ctatlogue_id,</if>
            <if test="firstId != null">first_id,</if>
            <if test="skillsName != null and skillsName != ''">skills_name,</if>
            <if test="takeRole != null and takeRole != ''">take_role,</if>
            <if test="targetPositionId != null">target_position_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="endTime != null">end_time,</if>
            <if test="startTime != null">start_time,</if>
           create_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="lineNumber != null">#{lineNumber},</if>
            <if test="ctatlogueId != null">#{ctatlogueId},</if>
            <if test="firstId != null">#{firstId},</if>
            <if test="skillsName != null and skillsName != ''">#{skillsName},</if>
            <if test="takeRole != null and takeRole != ''">#{takeRole},</if>
            <if test="targetPositionId != null">#{targetPositionId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="startTime != null">#{startTime},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateSkillsInfo" parameterType="SkillsInfo">
        update skills_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="ctatlogueId != null">ctatlogue_id = #{ctatlogueId},</if>
            <if test="skillsName != null and skillsName != ''">skills_name = #{skillsName},</if>
            <if test="targetPositionId != null">target_position_id = #{targetPositionId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="evaluateState != null">evaluate_state = #{evaluateState},</if>
            <if test="completionStatus != null">completion_status = #{completionStatus},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="modificationsNumber != null">modifications_number = #{modificationsNumber},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSkillsInfoById" parameterType="string">
        delete from skills_info where id = #{id}
    </delete>

    <delete id="deleteSkillsInfoByIds" parameterType="String">
        delete from skills_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>