<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.SubAnalysisMapper">
    
    <resultMap type="SubAnalysis" id="SubAnalysisResult">
        <result property="id"    column="id"    />
        <result property="postitionId"    column="postition_id"    />
        <result property="firstId"    column="first_id"    />
        <result property="firstCompletionRate"    column="first_completion_rate"    />
        <result property="secondaryId"    column="secondary_id"    />
        <result property="secondaryTargetNum"    column="secondary_target_num"    />
        <result property="secondaryCompletionNum"    column="secondary_completion_num"    />
        <result property="secondaryCompletionRate"    column="secondary_completion_rate"    />
    </resultMap>

    <sql id="selectSubAnalysisVo">
        select id, postition_id, first_id, first_completion_rate, secondary_id, secondary_target_num, secondary_completion_num, secondary_completion_rate from sub_analysis
    </sql>

    <select id="selectSubAnalysisList" parameterType="SubAnalysis" resultMap="SubAnalysisResult">
        <include refid="selectSubAnalysisVo"/>
        <where>  
            <if test="postitionId != null  and postitionId != ''"> and postition_id = #{postitionId}</if>
            <if test="firstId != null "> and first_id = #{firstId}</if>
            <if test="firstCompletionRate != null  and firstCompletionRate != ''"> and first_completion_rate = #{firstCompletionRate}</if>
            <if test="secondaryId != null "> and secondary_id = #{secondaryId}</if>
            <if test="secondaryTargetNum != null "> and secondary_target_num = #{secondaryTargetNum}</if>
            <if test="secondaryCompletionNum != null "> and secondary_completion_num = #{secondaryCompletionNum}</if>
            <if test="secondaryCompletionRate != null  and secondaryCompletionRate != ''"> and secondary_completion_rate = #{secondaryCompletionRate}</if>
        </where>
    </select>
    
    <select id="selectSubAnalysisById" parameterType="Long" resultMap="SubAnalysisResult">
        <include refid="selectSubAnalysisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSubAnalysis" parameterType="string" >

    </insert>
<!--    <insert id="insertSubAnalysis" parameterType="SubAnalysis" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into sub_analysis-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="postitionId != null and postitionId != ''">postition_id,</if>-->
<!--            <if test="firstId != null">first_id,</if>-->
<!--            <if test="firstCompletionRate != null and firstCompletionRate != ''">first_completion_rate,</if>-->
<!--            <if test="secondaryId != null">secondary_id,</if>-->
<!--            <if test="secondaryTargetNum != null">secondary_target_num,</if>-->
<!--            <if test="secondaryCompletionNum != null">secondary_completion_num,</if>-->
<!--            <if test="secondaryCompletionRate != null and secondaryCompletionRate != ''">secondary_completion_rate,</if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->--
<!--            <if test="postitionId != null and postitionId != ''">#{postitionId},</if>-->
<!--            <if test="firstId != null">#{firstId},</if>-->
<!--            <if test="firstCompletionRate != null and firstCompletionRate != ''">#{firstCompletionRate},</if>-->
<!--            <if test="secondaryId != null">#{secondaryId},</if>-->
<!--            <if test="secondaryTargetNum != null">#{secondaryTargetNum},</if>-->
<!--            <if test="secondaryCompletionNum != null">#{secondaryCompletionNum},</if>-->
<!--            <if test="secondaryCompletionRate != null and secondaryCompletionRate != ''">#{secondaryCompletionRate},</if>-->
<!--        </trim>-->--
<!--    </insert>-->


    <update id="updateSubAnalysis" parameterType="SubAnalysis">
        update sub_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="postitionId != null and postitionId != ''">postition_id = #{postitionId},</if>
            <if test="firstId != null">first_id = #{firstId},</if>
            <if test="firstCompletionRate != null and firstCompletionRate != ''">first_completion_rate = #{firstCompletionRate},</if>
            <if test="secondaryId != null">secondary_id = #{secondaryId},</if>
            <if test="secondaryTargetNum != null">secondary_target_num = #{secondaryTargetNum},</if>
            <if test="secondaryCompletionNum != null">secondary_completion_num = #{secondaryCompletionNum},</if>
            <if test="secondaryCompletionRate != null and secondaryCompletionRate != ''">secondary_completion_rate = #{secondaryCompletionRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubAnalysisById" parameterType="Long">
        delete from sub_analysis where id = #{id}
    </delete>

    <delete id="deleteSubAnalysisByIds" parameterType="String">
        delete from sub_analysis where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>