<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.SubAnalysisMapper">
    
    <resultMap type="SubAnalysis" id="SubAnalysisResult">
        <result property="id"    column="id"    />
        <result property="postitionId"    column="postition_id"    />
        <result property="secondaryId"    column="secondary_id"    />
        <result property="secondaryName"    column="secondary_name"    />
        <result property="secondaryTargetNum"    column="secondary_target_num"    />
        <result property="secondaryCompletionNum"    column="secondary_completion_num"    />
        <result property="secondaryCompletionRate"    column="secondary_completion_rate"    />
        <result property="deadlineDate"    column="deadline_date"    />
    </resultMap>

    <sql id="selectSubAnalysisVo">
        select id, postition_id, secondary_id, secondary_name,secondary_target_num, secondary_completion_num, secondary_completion_rate ,deadline_date from sub_analysis
    </sql>

    <select id="selectSubAnalysisList" parameterType="SubAnalysis" resultMap="SubAnalysisResult">
        <include refid="selectSubAnalysisVo"/>
        <where>  
            <if test="postitionId != null  and postitionId != ''"> and postition_id = #{postitionId}</if>
            <if test="secondaryId != null "> and secondary_id = #{secondaryId}</if>
            <if test="secondaryTargetNum != null "> and secondary_target_num = #{secondaryTargetNum}</if>
            <if test="secondaryCompletionNum != null "> and secondary_completion_num = #{secondaryCompletionNum}</if>
            <if test="secondaryCompletionRate != null  and secondaryCompletionRate != ''"> and secondary_completion_rate = #{secondaryCompletionRate}</if>
        </where>
    </select>
    
    <select id="selectSubAnalysisById" parameterType="Long" resultMap="SubAnalysisResult">
        <include refid="selectSubAnalysisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSubAnalysis" parameterType="string" >
        INSERT INTO sub_analysis ( postition_id, secondary_id,secondary_name, secondary_target_num, secondary_completion_num, secondary_completion_rate ,deadline_date)
        SELECT
            a.postition_id,
            a.secondary_id,
            ctatlogue.catalogue_name AS secondary_name,
            a.secondary_target_num,
            a.secondary_completion_num,
            a.secondary_completion_rate,
            sysdate() as deadline_date
        FROM
            (SELECT
                 #{positionId}AS postition_id,
                 ctatlogue_id AS secondary_id,
                 COUNT(*) AS secondary_target_num,
                 SUM(completion_status) AS secondary_completion_num,
                 ROUND(AVG(completion_status), 3) AS secondary_completion_rate
             FROM
                 skills_info
             WHERE
                 target_position_id = #{positionId}
             GROUP BY
                 ctatlogue_id) AS a
                LEFT JOIN ctatlogue ON ctatlogue.catalogue_id = a.secondary_id;
    </insert>

    <update id="updateSubAnalysis" parameterType="SubAnalysis">
        update sub_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="postitionId != null and postitionId != ''">postition_id = #{postitionId},</if>
            <if test="firstId != null">first_id = #{firstId},</if>
            <if test="firstCompletionRate != null and firstCompletionRate != ''">first_completion_rate = #{firstCompletionRate},</if>
            <if test="secondaryId != null">secondary_id = #{secondaryId},</if>
            <if test="secondaryTargetNum != null">secondary_target_num = #{secondaryTargetNum},</if>
            <if test="secondaryCompletionNum != null">secondary_completion_num = #{secondaryCompletionNum},</if>
            <if test="secondaryCompletionRate != null and secondaryCompletionRate != ''">secondary_completion_rate = #{secondaryCompletionRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubAnalysisById" parameterType="Long">
        delete from sub_analysis where id = #{id}
    </delete>

    <delete id="deleteSubAnalysisByIds" parameterType="String">
        delete from sub_analysis where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>